<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mohsen Esmaeili <m-esm@hotmail.com>">

    <title>Serendip web</title>
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">


    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;


        }

        body {
            background: #111;
            color: #fff;
            text-align: center;
            font-family: 'Carter One', cursive;
            font-size: 13px;
            background-image: url('assets/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;

        }

        .inner-body {
            padding: 30px 0;
            box-sizing: border-box;
            min-height: 100vh;
        }

        .inner-body:before,
        .inner-body:after {
            content: ' ';
            clear: both;
            display: block;
            height: 1px;
            width: 100%;
        }

        a,
        a:hover,
        a:visited {
            text-decoration: none;
            color: #fff;
            border-bottom: 1px solid #fff;
            margin: 0 5px;

        }

        .code-box {
            display: inline-block;
            max-width: 340px;
            width: 100%;
            vertical-align: top;
            margin: 15px;

        }

        .code-box p {
            margin: 5px 0;
            line-height: 18px;
            font-size: 13px;
            text-align: left;
            font-family: Tahoma, tahoma, calibri;
        }

        .code-box .code {
            padding: 10px;
            background: rgba(0, 0, 0, 0.7);
            min-height: 200px;
            border-radius: 10px;
            font-family: monospace;
            font-size: 11px;
            line-height: 18px;
            text-align: left;
            overflow: auto;

        }

        .npm {
            text-align: right;
            font-size: 15px;
            font-family: monospace;
            text-align: left;
            background: #333;
            padding: 10px;
            border-radius: 5px;
            max-width: 300px;
            margin: 0 auto;
        }

        ::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }

        ::-webkit-scrollbar-track {
            background: #000;
        }

        ::-webkit-scrollbar-thumb {
            background: #fff;
        }

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }
    </style>
</head>

<body>


    <div class="inner-body">
        {{> header}}

        <h1 class="cover-heading">{{model.title}}</h1>
        <p class="lead">

            {{model.description}}

        </p>


        <div class="npm">
            > npm i serendip-web -g
            <br>
            > serendip-web --demo --tunnel
        </div>

        <div class="code-box">

            <p>model extended from start.hbs.json and returned model by start.hbs.js main async function</p>
            <pre class="code">{{~syntaxHighlight model~}}</pre>
        </div>

        <div class="code-box">

            <p>data from a json file named <a href="/data.json">data.json</a> in the folder root</p>
            <pre class="code">{{~syntaxHighlight data~}}</pre>
        </div>
        {{> footer}}
    </div>



</body>

{{> scripts}}

</html>