<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Localhost</h3>
        <nav class="nav nav-masthead">
            {{!-- <a href="/" class="nav-link active" href="#">Home</a> --}}
            <a href="/throw" class="nav-link" href="#">500</a>
            <a href="/404" class="nav-link" href="#">404</a>
            <a href="/index.hbs" class="nav-link" href="#">403</a>
        </nav>
    </div>
</div>