<div class="inner cover">
    <h1 class="cover-heading">Serendip web server</h1>
    <p class="lead">
        It's a lightweight web server for creating websites using handlebars and javascript.
    

    </p>

    <p class="lead">
        <a href="https://serendip.agency" class="btn btn-lg btn-secondary">Serendip agency</a>
    </p>
</div>